:root{
    --glassy: 0px 0px 3px 0px rgba(255, 255, 255, 0.4) inset, 0px 0px 2px 1px rgba(0, 0, 0, 1), 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    --glassy-shadow: var(--glassy) , var(--box-shadow);
    --glass-bg: rgba(20, 20, 20, 0.6);
    --glass-bg-light: rgba(255, 255, 255, 0.1);
    --glass-bg-dark: rgba(0, 0, 0, 0.7);
    --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
    --pf2e-translucent-middle: var(--pf2e-translucent-middle-for-light);
    --pf2e-translucent-middle-for-light: hsla(0, 0%, 80%,0.5);
    --pf2e-translucent-very: var(--pf2e-translucent-very-for-light);
    --pf2e-transcluent-very-for-light: hsla(0, 0%, 60%,0.2);
    --header-text-shadow: var(--pf2e-shadow-is-dark);
    --pf2e-shadow-is-dark: 0px 1px var(--pf2e-half-transparent-dark);
    --filter-dark: invert(100%) drop-shadow(0px 1px 1px black);
    --pf2e-half-transparent-dark: hsla(0, 0%, 0%,0.5);
    --color-text-hyperlink: #ff6400;
    --gold-and-glow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b, inset 0 0 3px rgba(255, 255, 255, .5);
    --red: #5e0000;
    --red-light:#ff0000;
    --custom-trait:#61180e;
    --green: #91a82a;
    --pfui-main-color: #cfbda7;
    --pfui-main-grey-color: #98968a;
    --rpg-styled-ui-color: #837360;
    --primary-remaster: hsl(153, 100%, 8%);
	--primary-light-remaster: hsl(170, 96%, 19%);
    
    --border-radius: 3px;
    --border-radius-5: 5px;
    --box-shadow: 0px 1px 3px 1px black;
    --box-shadow-light: inset 0 0 0 1px rgba(255, 255, 255, 0.15), inset 0 0 0 2px rgba(0, 0, 0, 0.4), inset 0px 0px 3px 1px var(--color-cool-3);
    --text-shadow: 0px 1px 2px black;

    --rarity-common: #7e7e7e;
    --rarity-uncommon: #ff6400;
    --rarity-rare: #0062ff;
    --rarity-unique: #e127e1;


/* Foundry2
====================================================== */
    --color-warm-1: #ee9b3a;
    --color-warm-2: #c9593f;
    --color-warm-3: #5d142b;
    --color-warm-4: #420418;
    --color-warm-5: #26020d;
    --color-cool-1: #b1a0d4;
    --color-cool-2: #79689c;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #f7f3e8;
    --color-light-2: #efe6d8;
    --color-light-3: #e7d1b1;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-level-error: #ce0707;
    --color-level-error-bg: rgba(105, 0, 8, 0.8);
    --color-level-error-border: #750003;
    --color-level-info: #59a1f6;
    --color-level-info-bg: rgba(47, 80, 132, 0.8);
    --color-level-info-border: #5c87b9;
    --color-level-success: #26b231;
    --color-level-success-bg: rgba(26, 107, 34, 0.8);
    --color-level-success-border: #1b8f23;
    --color-level-warning: #ee9b3a;
    --color-level-warning-bg: rgba(214, 150, 0, 0.8);
    --color-level-warning-border: #b18404;
    --color-scrollbar: #5d142b;
    --color-scrollbar-border: #8d151b;
}

/*Automated Animations
************************/
/* https://github.com/DFreds/dfreds-effects-panel */
#AA-autorec-settings .window-content > *, 
#AA-item-settings .window-content > *, 
#AA-ae-settings .window-content > * {
    color: var(--pfui-main-color);
    background-color: var(--color-cool-5-25);
    border: none;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 15px var(--red-light);
    filter: drop-shadow(0px 1px 1px black);
    box-shadow: var(--glassy);
}
header.svelte-auto-1g5ic18 ul li.svelte-auto-1g5ic18 {
    color: var(--color-warm-1);
}
.aa-tabs.svelte-auto-1gugmsw button.svelte-auto-1gugmsw {
    color: var(--color-warm-1);
}
.aa-tabs.svelte-auto-1gugmsw.svelte-auto-1gugmsw {
    color: var(--pfui-main-color);
    background-color: var(--color-cool-5-25);
    border: none;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 15px var(--red-light);
    filter: drop-shadow(0px 1px 1px black);
    box-shadow: var(--glassy);
}

/*Dfreds effects panel
************************/
/* https://github.com/DFreds/dfreds-effects-panel */
.effect-panel .effect-item .temporary.icon {
    border-radius: 10%;
    text-shadow: 0 0 15px var(--red-light);
    filter: drop-shadow(0px 1px 1px black);
    background-color: var(--color-cool-5-25);
    backdrop-filter: blur(10px);
    box-shadow: var(--glassy-shadow);
}



/*Module-Management
************************/
/* https://github.com/mouse0270/module-credits */
#module-management .package-list .package {
    border-bottom: 1px dotted var(--color-cool-1);
    background: var(--color-cool-5-25);
}
#module-management .package-list .package .package-overview .tag.expand {
    background: var(--glass-bg-light);
    border: 1px solid var(--color-cool-1);
    color: var(--color-warm-1);
    box-shadow: var(--box-shadow);
    text-decoration: none;
    cursor: pointer;
    text-shadow: var(--text-shadow);
    margin-bottom: -2px;
}
#module-management .package-list .package .tag {
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
}
#module-management nav.list-filters button {
    border: 1px solid transparent;
    border-radius: 15px;
    flex: 0 0 32px;
    height: 30px;
    margin: 0px;
    box-shadow: var(--box-shadow);
}
#module-management .package-list {
    border-top: 1px solid transparent;
}
#module-management nav.list-filters input {
    background: var(--color-cool-5-90);
    color: var(--color-warm-1);
    border: 1px solid transparent;
    font-size: larger;
    border-radius: 5px;
    margin: 1px;
    height: 25px;
    text-shadow: var(--text-shadow);
    box-shadow: var(--box-shadow-light);
}
#module-management .package-list .package-title {
    color: var(--sta-main-color);
    text-shadow: var(--text-shadow);
}
#module-management nav.list-filters a.filter.active {
    background: var(--color-cool-5-25);
    border-bottom: 2px solid var(--red-light);
}

/* Monk's Little Details */
/*https://github.com/ironmonk88/monks-little-details*/
.group-header {
    background-color: var(--color-cool-5-50);
    box-shadow: var(--box-shadow);
    text-shadow: 0 0 15px var(--red-light);
}
#token-hud.monks-little-details .status-effects .effect-control {
  border-radius: unset;
}
#token-hud.placeable-hud.monks-little-details .status-effects {
  background: none;
  filter: brightness(1.1) saturate(1);
}
#token-hud.placeable-hud.monks-little-details .status-effects .effect-control {
  border: none;
  opacity: unset;
  border-radius: var(--border-radius);
}
#token-hud.placeable-hud.monks-little-details .status-effects .effect-control.active {
    border: 1px solid var(--color-cool-5);
    opacity: 1;
    background: linear-gradient(45deg, var(--color-cool-3), var(--color-cool-5));
    box-shadow: 0px 5px 20px 3px black, 0px 0px 50px 30px color-mix(in srgb, var(--color-cool-5) 10%, transparent);
    filter: brightness(1.1) saturate(1.5);
    border-radius: var(--border-radius-5);
    text-shadow: 0px 1px 2px black;
}
#token-hud.placeable-hud.monks-little-details .status-effects .effect-control.active .effect-name {
    color: var(--pfui-main-color);
  opacity: unset;
}
#token-hud.placeable-hud.monks-little-details .status-effects .effect-name {
  opacity: unset;
  padding-right: 4px;
  color: var(--pfui-main-color);
  font-size:  12px;
}
#token-hud.monks-little-details .status-effects .clear-all {
    bottom: 103%;
    right: 1px;
    padding: 1px 17px 1px 17px;
    color: var(--pfui-main-color);
    box-shadow: var(--box-shadow);
    filter: sepia(1) brightness(0.6);
    text-shadow: 0px 0px 3px black;
    background: linear-gradient(45deg, var(--color-cool-3), var(--color-cool-5-25));
}
#token-hud.monks-little-details .status-effects .clear-all:hover {
    opacity: 1;
    filter: contrast(1);
}
.compendium-sidebar .directory-list .compendium-type h3 {
    font-family: 'EarthOrbiter';
    text-transform: inherit;
    color: var(--pfui-main-color);
    background-color: var(--color-cool-5-50);
    border-radius: 25px 0 0 25px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 15px var(--red-light);
    filter: drop-shadow(0px 1px 1px black);
    box-shadow: var(--glassy);
}


/* Monk's TokenBar */
/* https://github.com/ironmonk88/monks-tokenbar */
:root{
    --monks-border-color: #6b6155;
}
#tokenbar .token {
    border: 1px solid transparent;
    border-radius: unset;
    margin: 2px;
    text-shadow: 0 0 15px var(--red-light);
    background: unset;
    box-shadow: unset;
}
#tokenbar .bar-controls div#tokenbar-move-handle {
    background: unset;
}
#tokenbar .token-list {
    border: 1px solid transparent;
}
#tokenbar .bar-controls > div > .toggle-collapse {
    color: var(--color-warm-1);
}
#tokenbar .token .token-icon {
    border: none;
    box-shadow: unset;
    background: transparent;
    backdrop-filter: blur(5px);
}#tokenbar .token .token-stat i {
    color: var(--green);
    filter: drop-shadow(0px 1px 1px black);
}
#tokenbar .token .token-stat {
    color: var(--color-warm-1)!important;
    filter: drop-shadow(0px 1px 1px black);
}
#tokenbar .token .token-stats {
    background: var(--color-cool-5-75);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    filter: drop-shadow(0px 1px 1px black);
}
#tokenbar .bar-controls {
    color: var(--pfui-main-color);
    text-shadow: var(--text-shadow);
    border: 1px solid transparent;
    box-shadow: unset;
    background: var(--color-cool-5-75);
    border-radius: 5px;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 15px var(--red-light);
    filter: drop-shadow(0px 1px 1px black);
}
#tokenbar .bar-controls .tokenbar-buttons div.active:not(.disabled) i, 
#tokenbar[movement="free"] #movement-free:not(.disabled) i, 
#tokenbar[movement="none"] #movement-none:not(.disabled) i, 
#tokenbar[movement="combat"] #movement-combat:not(.disabled) i {
    color: var(--color-warm-1);
    border: 1px solid var(--color-warm-2);
    text-shadow: 0 0 15px var(--red-light);
    filter: contrast(1.5);
}

#chat .monks-tokenbar.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove var(--monks-border-color);
    border-bottom: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer {
    border-top: 2px groove var(--monks-border-color);
}

#chat .monks-tokenbar.chat-card .card-footer span {
    border-right: 2px groove var(--monks-border-color);
    font-size: 9px;
}

.monks-tokenbar .footer-button {
    width: 18px;
    height: 18px;
    float: right;
    font-size: 11px;
    line-height: 11px;
    padding: 0px 2px;
}

#chat .monks-tokenbar .sheet .items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
    color: var(--pfui-main-color);
}

#chat .monks-tokenbar.chat-card .card-header h3 {
    color: var(--pfui-main-color)
}

#chat #requestsavingthrow .request-header {
    border-radius: 4px;
    white-space: nowrap;
    overflow-x: hidden;
    color: var(--pfui-main-color);
    background: black;
    border: 2px solid var(--border-color);
    padding: 1px 8px;
}

#chat .monks-tokenbar .sheet .items-list .item-name h3,
#chat .monks-tokenbar .sheet .items-list .item-name h4 {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    color: var(--pfui-main-color);
    font-weight: bold;
    padding: 1px 4px;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
}

#chat .monks-tokenbar .sheet .items-list .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    font-weight: bold;
    flex-wrap: nowrap;

    background: rgba(0, 0, 0, 0.43);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
}

#chat .monks-tokenbar.chat-card .sheet .items-list {
    padding: 0;
}
.monks-tokenbar .sheet .items-list .items-header {
    color: var(--color-warm-1);
    background: none;
    background-color: var(--color-cool-5-75)!important;
    border-radius: var(--border-radius-5)!important;
    margin: 3px 0px!important;
    backdrop-filter: blur(10px);
    text-shadow: 0 0 15px var(--red-light);
    border: 1px solid var(--red);
    filter: drop-shadow(0px 1px 1px black);
    box-shadow: var(--box-shadow);
}
.monks-tokenbar .sheet .items-list .item:last-child {
    border-bottom: none;
    color: var(--green);
    text-shadow: var(--text-shadow);
    border-radius: 25px;
}
.monks-tokenbar.editstats .tt-menu {
    color: var(--pfui-main-color);
    background-color: var(--color-cool-5-90);
}
.monks-tokenbar.pick-icon .font-picker .icon {
    background-color: var(--color-cool-5-25);
    color: var(--green);
    text-shadow: var(--text-shadow);
    border-radius: 25px;
}