/* Actor
************************/
.starwarsffg.sheet.actor.v2 .character .sheet-body .skillsTablesGrid {
    height: unset!important;
}
.starwarsffg.sheet.actor .character .sheet-body .skillsTablesGrid {
    height: unset!important;
}
.starwarsffg.sheet.actor.v2 .skillsTablesGrid {
    max-height: calc(100% - 33.1875rem);
}
.starwarsffg.sheet.actor .skillsTablesGrid {
    max-height: calc(100% - 34.1875rem);
}

/* Minion
************************/
.starwarsffg.sheet.actor.v2 .minion .sheet-body .skillsTablesGrid {
    height: unset!important;
}
.starwarsffg.sheet.actor .minion .sheet-body .skillsTablesGrid {
    height: unset!important;
}
.starwarsffg.sheet.actor.v2 .minion .skillsTablesGrid {
    max-height: calc(100% - 32.1rem);
}
.starwarsffg.sheet.actor .minion .skillsTablesGrid {
    max-height: calc(100% - 34.1875rem);
}

/* Force-power sheet
************************/
.starwarsffg .item-sheet-forcepower .sheet-body {
    max-height: calc(100% - 12rem);
}
.starwarsffg.sheet.item .item-sheet-forcepower .popout-editor {
    height: 90%;
}
.starwarsffg .item-sheet-forcepower .talent-cost input {
    height: 15px;
    width: 25px;
}
.starwarsffg .item-sheet-forcepower .talent-cost {
    font-size: 9px;
    display: flex;
    bottom: -5px;
    left: 7px;
    position: absolute;
    z-index: 10;
    height: 15px;
    width: 70px;
    border-radius: 25px;
    justify-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Vehicle sheet
************************/
.starwarsffg.sheet.actor .vehicle .sheet-body {
    max-height: calc(100% - 32rem);
}
.starwarsffg.sheet.actor.v2 .vehicle .sheet-body {
    max-height: calc(100% - 29.875rem);
}
.starwarsffg .resource.split {
    width: auto;
}